<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ph Address API</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a href="#" class="navbar-brand" style="font-weight: bolder;">
          PHAddressAPI
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0" style="font-weight: bolder;">
            <li class="nav-item">
              <a href="#" class="nav-link active" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/marcuwynu23/ph-address" class="nav-link active">Documentation</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/marcuwynu23/ph-address" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="text-white text-center h-100">
      <div class="container-fluid h-100">
        <div class="row">
          <p class="text-center">
            <img class="img img-responsive" src="images/image.jpg" alt="images/image.jpg">
          </p>
          <div class="container">
            <p class="text-dark"></p>
          </div>
        </div>
      </div>
    </header>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>