<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>Ph Address API</title>
  <link rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'
    integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=='
    crossorigin='anonymous' />
  <link rel="stylesheet"
    href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="css/custom.css">

</head>

<body>
  <header>
    <nav class="navbar py-2 navbar-expand-sm navbar-dark  bg-success shadow-sm">
      <div class="container">
        <a href="#"
          class="navbar-brand">
          <span class="text-white">PHAddress</span>
        </a>
        <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggler">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
          id="navbarToggler">
          <ul class="navbar-nav ml-auto mb-3 mb-lg-0">
            <li class="nav-item">
              <a href="#"
                class="nav-link text-white"
                aria-current="page">
                <i class="fas fa-house"></i>
                Home</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/marcuwynu23/ph-address"
                class="nav-link text-white">
                <i class="fas fa-book-open"></i>
                Documentation</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/marcuwynu23/ph-address"
                class="nav-link text-white">
              <i class="fas fa-envelope"></i>
                Contact
            </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <div class="container pt-5">
      <div class="d-flex justify-content-center align-items-center"
        style="height: 70vh;">
        <div class="container">
          <div class="container">
            <p class="text-center display-1  font-weight-bold">
              <span class="text-success">PH Address</span> <span>API</span>
            </p>
            <p class="text-center text-sm-center mt-0">
              A Data API of Regions,Provinces, CityMunicipalities, and Barangay of the Philippines
            </p>
          </div>
          <div class="container mt-4">
            <p class="mt-4  text-center">Welcome to the PH Address API, your reliable source for accurate address data
              in the Philippines. Our seamless integration simplifies tasks by providing efficient access to up-to-date
              information, streamlining operations and ensuring reliable address data for your applications.
            </p>

          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>